<form>
    <div class="mb-3">
        <label for="isbn" class="form-label">ISBN</label>
        <input type="text" class="form-control" id="isbn" name="isbn" [(ngModel)]="ejemplar.isbn" placeholder="Ingrese el ISBN" required>
        </div>

        <div class="mb-3">
        <label for="numero" class="form-label">Número</label>
        <input type="number" class="form-control" id="numero" name="numero"[(ngModel)]="ejemplar.numero" placeholder="Ingrese el Número" required>
    </div>
    <div class="mb-3">
        <label for="disponible" class="form-label">Disponible</label>    
        <input
        type="checkbox"
            class="form-check-input" id="disponible" name="disponible"
            [(ngModel)]="ejemplar.disponible" />Selecciona
        

    </div>
    
      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-success" (click)="insertar()">Guardar</button>
        

       </div>
    


</form>
